<p>Angular http client</p>

<table *ngIf="customers.length > 0">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let even = even; let odd = odd" 
            class="row"
            [ngClass]="{ odd: odd, even: even }"
        >
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.tel }}</td>
            <td>{{ customer.address }}</td>
            <td>
                <app-button [label]="'Show details'" (onClick)="customerDetails(customer)"></app-button>
                <app-button [label]="'Delete user'" (onClick)="deleteCustomer(customer)"></app-button>
            </td>
        </tr>
    </tbody>
  </table>

  <p>
      Selcted user: {{ selectedCustomer?.dateOfBirth }}
  </p>
