header {
    margin-bottom: 35px;
    background-color: azure;
}

.menu-list {
    margin: 0;
    padding: 15px 0;
    list-style: none;

    
    &-item {
        display: inline-block;
        margin-right: 50px;
    }
}